VITE_SUPABASE_URL=https://qsllyeztdwjgirsysgai.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFzbGx5ZXp0ZHdqZ2lyc3lzZ2FpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE5ODM3MTMsImV4cCI6MjA5NzU1OTcxM30.KB_sHZkeiLPTOXfETUtCkRscsG7w1mcGs-4as-aeYp0
